@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 10%;
    --foreground: 210 40% 98%;

    --card: 220 17% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 220 17% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 90 100% 50%;
    --primary-foreground: 90 100% 10%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 90 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 17% 10%;
    --foreground: 210 40% 98%;

    --card: 220 17% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 220 17% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 90 100% 50%;
    --primary-foreground: 90 100% 10%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 90 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
